<div class="page grow-in">
    <div class="container">

        <div class="block animate-from-transparent" appScrollAnimation>
            <div class="block-header">
                <h1>Contact Me</h1>
            </div>
            <div class="block-body">
                <p>Please Press the button below to test function in the contact component. Do note that this is not the
                    finalised version of the page, it is just used to test how input will be handled so we can use it to send
                    emails later!</p>
                <form [formGroup]="ContactForm" (ngSubmit)="onSubmit()">
                    <label for="name">Name: </label>
                    <input id="name" formControlName="name" required />

                    <label for="email">Email: </label>
                    <input id="email" formControlName="email" required />

                    <label for="message">Message: </label>
                    <textarea id="message" formControlName="message"  rows="4" cols="50" required></textarea>
                    
                    <button type="submit">Submit</button>
                </form>
                
            </div>
            
        </div>

        
        
    </div>
</div>