<div class="page grow-in">
    <div class="container">

        <!-- ABOUT ME SECTION -->
        <div class="block animate-from-transparent" appScrollAnimation>
            <h1>About Me</h1>
            <hr>
            <div class="clearfix">
                <img src="assets/test.jpeg" alt="test">
                <p class="main-description">I am a dedicate, passionate teacher with over 36 years of experience. Helping children reach their full
                    potential is incredibly rewarding and is so important! Studies show that early intervention is key to
                    school success. I help parents and teachers support children to the best of their ability.</p>
            </div>
        </div>
        <br>

        <!-- PROFESSIONAL EXPERIENCES SECTION -->
        <div class="invis-block animate-from-transparent" appScrollAnimation>
            <ul>
                <h1 class="list-header animate-from-transparent" appScrollAnimation>Professional Experiences</h1>
                
                <li *ngFor="let listItem of professionalExperiences" class="animate-from-transparent" appScrollAnimation>
                    <span class="bold">{{listItem.header}}</span>
                    <br>
                    {{listItem.description}}
                </li>
                
            </ul>
        </div>
        <br>

        <!-- DEGREES SECTION -->
        <div class="invis-block animate-from-transparent" appScrollAnimation>
            <ul>
                <h1 class="list-header animate-from-transparent" appScrollAnimation>Degrees</h1>


                <li *ngFor="let listItem of degrees" class="animate-from-transparent" appScrollAnimation>
                    <span class="bold">{{listItem.header}}</span>
                    <div *ngIf="listItem.description">
                        <hr>
                        {{listItem.description}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</div>
