<div class="page grow-in">

    <div class="container block animate-from-left" appScrollAnimation>
        <h1>About Me</h1>
        <hr>
        <div class="clearfix">
            <img src="assets/test.jpeg" alt="test">
            <p class="main-description">I am a dedicate, passionate teacher with over 36 years of experience. Helping children reach their full
                potential is incredibly rewarding and is so important! Studies show that early intervention is key to
                school success. I help parents and teachers support children to the best of their ability.</p>
        </div>
    </div>
    
    <div class="container invis-block animate-from-right" appScrollAnimation>
        <ul>
            <h1 class="list-header">Professional Experiences</h1>
            <li>
                <span class="bold">Development Director, Teacher Trainer, and Instructional Coach (2005-2023):</span>
                <hr>
                Worked at Lee Pesky Learning, a non-profit specializing in serving children and families with
                learning challenges, designing courses in evidence-based literacy and math instruction while
                also training preschool and elementary teachers in Idaho, Oregon, Ohio, North Dakota.
            </li>
    
            <li>
                <span class="bold">Children’s Author (2020) </span>
                <hr>
                Published A Dog Named Bronco
            </li>
    
            <li>
                <span class="bold">Houghton Mifflin Representative for Idaho (2005-2007)</span>
                <hr>
                Sold elementary curricular materials
                and trained teachers how to effectively implement the resources.
            </li>
    
            <li>
                <span class="bold">Reading Specialist at Lee Pesky Learning Center (2003-2005)</span>
                <hr>
                Worked with children diagnosed
                with dsyslexia and other learning challenges to improve learning outcomes.
            </li>
    
            <li>
                <span class="bold">Elementary School Teacher (1988-2003)</span>
                <hr>
                Taught grades 1 st -3 rd in a variety of settings. Also
                served as the K-6 th grade Design Technology Coordinator (now called STEAM) for a year after
                securing a grant.
            </li>
    
            <li>
                <span class="bold">Summer Program Director (1996-2001):</span>
                <hr>
                Ran the summer program for many years at Rio
                Grande Elementary School in Santa Fe, New Mexico.
            </li>
    
            <li>
                <span class="bold">Preschool Teacher (1985-1987):</span>
                <hr>
                Worked in preschools including Head Start.
            </li>
    
            <li>
                <span class="bold">Board Member (2010-2014)</span>
                <hr>
                Asked to serve on the United Way board for the Treasure Valley.
            </li>
        </ul>
    </div>

    <div class="container invis-block animate-from-left" appScrollAnimation>
        <ul>
            <h1 class="list-header">Degrees</h1>
            <li>
                <span class="bold">Literacy Education, M.Ed., Washington State University</span>
            </li>
            <li>
                <span class="bold">Elementary Education, Minor in Mathematics Education, B.S., Oregon State University</span>
                
            </li>
        </ul>
    </div>
</div>
