

  <h1>Christianne Lane</h1>
  
  <nav>
    <h3>Navigation Links</h3>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
      <li><a routerLink="/for-parents" routerLinkActive="active" ariaCurrentWhenActive="page">For Parents</a></li>
      <li><a routerLink="/for-teachers" routerLinkActive="active" ariaCurrentWhenActive="page">For Teachers</a></li>
    </ul>
  </nav>
  <hr>

  <router-outlet></router-outlet>
