nav{
    background-color: rgb(109, 109, 109);
    filter: drop-shadow(0px 3px 6px);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: stretch;
}

li {
    padding: 10px 12px 10px 12px;
    display: flex;
    align-items: flex-end;  
}

li a {
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

.hoverable:hover{
    text-shadow: 3px 3px 3px black;
}

.title a{
    font-size: xx-large;
    padding-right: 25px;
    padding-left: 10px;
}

.active { 
    text-shadow: 3px 3px 3px black;
}


