
<nav>
  <div class="title-holder">
    <a class="title" routerLink="/"  ariaCurrentWhenActive="page">Cristianne Lane</a>
  </div>
  
  
  <ul>
    
    <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page"><li>About</li></a>
    <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page"><li>Contact</li></a>
    <a routerLink="/for-parents" routerLinkActive="active" ariaCurrentWhenActive="page"><li>Parents</li></a>
    <a routerLink="/for-teachers" routerLinkActive="active" ariaCurrentWhenActive="page"><li>For Teachers</li></a>
  </ul>
</nav>


