
<nav>
  <ul>
    <li class="title"><a routerLink="/"  ariaCurrentWhenActive="page">Cristianne Lane</a></li>
    <li><a class="hoverable" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    <li><a class="hoverable" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
    <li><a class="hoverable" routerLink="/for-parents" routerLinkActive="active" ariaCurrentWhenActive="page">For Parents</a></li>
    <li><a class="hoverable" routerLink="/for-teachers" routerLinkActive="active" ariaCurrentWhenActive="page">For Teachers</a></li>
  </ul>
</nav>
<br>

