body {
    /* background-color: rgba(47, 56, 105, 0.829);
    background-image: var(--page-bg);
    background-size: 120px; */

    padding: 0;
    margin: 0;
    
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(154, 230, 180,1)'/%3E%3Cpath d='M20 9a 20 20 0 0 1 40 0h2a 2 2 0 0 1-4 0a 18 18 0 0 0-36 0a 2 2 0 0 1-4 0a 18 18 0 0 0-36 0h-2a 20 20 0 0 1 40 0z' fill='rgba(198, 246, 213,1)'/%3E%3Cpath d='M0 29.5a 20 20 0 0 1 40 0h1a 1 1 0 0 1-2 0a 19 19 0 0 0-38 0a 1 1 0 0 1-2 0z' fill='rgba(104, 211, 145,1)'/%3E%3Cpath d='M20 49a 20 20 0 0 1 40 0h2a 2 2 0 0 1-4 0a 18 18 0 0 0-36 0a 2 2 0 0 1-4 0a 18 18 0 0 0-36 0h-2a 20 20 0 0 1 40 0z' fill='rgba(198, 246, 213,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ")
    
}


/* Sets up sites basic layout */
#flexBody {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#mainBody {
    flex: 1;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.page {
    margin-top: 18px;
    margin-bottom: 18px;
}

/* Section header */
.header {
    background-color: var(--bg-navigation);
    width: 50%;
    padding: 25px;
    border-radius: 5px 90px 5px 50px;
    filter: drop-shadow(0px 3px 6px black);
    background-image: var(--wood-bg); 
    color: var(--text-light);
    text-shadow: 0px 2px 3px black;
    margin: 0;   
}

/* Holds content centered on page */
.container {
    max-width: 1300px;
    width: 95%;
    margin: 20px auto;

}

.container-2 {
    max-width: 1100px;
    width: 90%;
    margin: 0% 1%;
}

/* simple content block */
.block {
    background-color: var(--bg-primary);
    background-image: var(--gradient);
    filter: drop-shadow(0px 3px 6px black);
    color: var(--text-light);
    border-radius: 5px;
}
.invis-block {
    color: var(--text-light);
}

.block-header {
    background-color: var(--bg-secondary);
    filter: drop-shadow(0px 1px 1px black);
    padding: 10px;
    border-radius: 5px 5px 0 0;
}
.block-body {
    padding: 10px;
}

/* Utility */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bold {
    font-weight: bold;
}

.grow-in {
    animation: grow-in;
    animation-duration: 0.5s;
}

/* Animation Classes */

.animate-from-left {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.animate-from-right {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.animate-from-transparent {

    opacity: 0.1;
    transition: opacity 0.5s;
}

.is-visible {
    transform: translateX(0);

    opacity: 1;
}

@keyframes grow-in {
    0% {
        transform: scale(0.9);
        transform: rotate(-5);
        opacity: 0%;
    }

    100% {
        transform: scale(1);
        opacity: 100%;
        transform: rotate(0);
    }
}